@page
@model HomePage
@{
    ViewData["Title"] = "Welcome to Rex and Tiger Diner and Pizzeria!";
}

</DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device=width,charset inital-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>


<body>
    <header>
        <div class="MainPage-Options">
        <a href="/Menu" class="Menu">Menu</a>
        <a href="/PlaceOrder" class="PlaceOrder">Place an order.</a>
        
        
        </div>
    </header>
</body>
</html>
