@page
@model MyApp.Namespace.PlaceOrder
@{
    ViewData["Title"] = "PlaceOrder";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name = "viewport" content="width=device-width,charset inital-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>    
 
<body>
    <main>
    <button class></button>    
    </main>
</body>